body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.rayPaper {
  background-color: #282c34 !important;
  margin: 0.5em;
}

.info{
  font-size: 18px;
  margin: 0.75rem;
  display: grid;
  grid: auto / auto auto auto auto;
}
.rtcard{
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
#refractiveIndex{
  width: 3rem;
  margin-left: 1rem;
}
#shootDelay{
  width: 3rem;
  margin-left: 1rem;
}
.refr{
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: left;
}

body {
  a {
    color: #191c1f;
  }
  background: #282c34;
  width: 100%;
}

.link {
  color: #7568ff !important;
}

.invisible {
  display: none;
}

.stats {
  &__performance-chart {
    padding: 1rem !important;
  }
  &__chart {
    height: 28rem;
  }
  &__grid {
    width: 90vw !important;
    margin: auto !important;
  }
  &__text {
    margin-top: 4rem;
    padding: 2rem;
  }
  &__tab {
    flex-direction: row-reverse !important;
    justify-content: space-evenly !important;
  }
  &__menu {
    width: 10rem !important;
  }
}

.card {
  &__header {
    border-bottom: 2px solid #909090;
    padding: 0.5rem 2rem !important;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      line-height: 3rem !important;
    }
    &__expand {
      transform: rotate(0deg);
      transition: transform 0.15s !important;
      &--open {
        transform: rotate(180deg);
      }
    }
  }
}

.slider {
  color: #7568ff !important;
  &__container {
    padding: 1rem;
  }
  &__input {
    width: 4rem;
  }
}
